<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
   <div class="main-content">
        {{>header}}
        <img class="main-content" src="/img/itachi.jpg" alt="image loading">
   </div>
    {{>footer}}
</body>
</html>